body {
  margin: 0;
  font-family:"Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2{
  font-size:62px;
  line-height:68px;
  text-transform: uppercase;
}
p{
  font-size:18px;
}
h1, h2, h3, h4, h5, h6, p, span{
  font-family:"Plus Jakarta Sans", sans-serif !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
